
.App {
  text-align: center;
  background-color: #f0f2f2;
  overflow-x: hidden;
}


/* section one css */
.section-one {
  display: flex;
  justify-content: space-between; /* To push the child elements to the far ends of the container */
  align-items: center; /* To vertically center the child elements */
  margin-top: 30px;
}

.left-one {
  width: 50%; /* Set the width to 50% to occupy half of the container */
  margin-bottom: 1px;
  text-align: left;
  margin-left: 90px;
 
}
.left-one h1{
  font-size: 60px;
  font-weight: bolder;
  margin-top: 1px;
}

.right-one {
  width: 50%; /* Set the width to 50% to occupy half of the container */
}
.right-one img {
  width: 80%; /* Ensure the image fills its container */
  height: auto; /* Maintain the aspect ratio of the image */
  margin-right: 130px;
  border-radius: 10px;
}
.efficiently{
  color: #78bfeb;
}


/* Adjustments for sectionone smaller screens */
@media screen and (max-width: 768px) {
  .section-one {
    flex-direction: column; /* Change flex direction to stack items vertically */
  }

  .left-one,
  .right-one {
    width: 100%; /* Set width to 100% to occupy full width */
    text-align: center; /* Center align content */
  }

  .right-one img {
    margin-right: 0; /* Remove right margin */
    margin-top: 20px; /* Add top margin to create space between content */
  }
}




/* section two css */
.section-two {
  margin-top: 100px;
  display: grid;
  grid-template-rows: auto auto; /* Two rows, each with auto height */
  gap: 20px; /* Gap between rows */
}

/* Additional styling */
.bs-logo {
  display: flex; /* Make bs-logo flex container */
  justify-content: center;
}

/* Additional styling for section two */
.bs-logo h4 {
  margin: 0 60px; /* Remove default margin */
}
@media screen and (max-width: 768px) {
  .section-two {
    display: block; /* Change display to block for stacking content */
  }

  .bs-logo {
    display: flex; /* Keep bs-logo as a flex container */
    justify-content: center;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  }

  .bs-logo h4 {
    margin: 0 20px; /* Adjust margin for smaller screens */
  }
}



/* section three css */
.section-three {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-three {
  flex: 1;
  width: 50%;
  margin-left: 100px;
}

.right-three {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  width: 50%;
  text-align: left;
}

.right-three p,
.right-three h2,
.right-three button {
  margin-bottom: 4px;
  margin-right: 130px;
}
.mobile-app{
  color: #78bfeb;
}
.left-three img{
  height: 300px;
}
@media screen and (max-width: 768px) {
  .section-three {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items horizontally */
  }

  .left-three {
    width: 80%; /* Adjust width for smaller screens */
    margin: 0 auto; /* Center align horizontally */
    margin-bottom: 20px; /* Add space between .left-three and .right-three */
  }

  .right-three {
    width: 80%; /* Adjust width for smaller screens */
    margin: 0 auto; /* Center align horizontally */
    text-align: left; /* Align text to the left */
    margin-left: 90px;
  }

  .right-three p,
  .right-three h2,
  .right-three button {
    margin-right: 0; /* Remove right margin */
  }
}


/* section four css */
.section-four{
  margin-top: 100px;
  width: auto;
  height: 200px;
  align-items: center;
  margin-left: 130px;
  margin-right: 130px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: white;
}

/* section five css */
.section-five{
  margin-top: 100px;
}
.h-five {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3px;
}
.content-five {
  display: flex;
  justify-content: center; /* Align items at the center horizontally */
}

.card-5 {
  margin: 0 10px; /* Add spacing between each card */
  padding: 20px; /* Add padding inside each card */
  border-radius: 8px; /* Add border radius for rounded corners */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: white;
  width: 250px;
}
@media screen and (max-width: 768px) {
  .content-five {
    flex-wrap: wrap; /* Allow cards to wrap onto multiple lines */
    justify-content: center; /* Center align items horizontally */
  }

  .card-5 {
    margin: 10px; /* Add spacing around each card */
  }
}


/* section six css */
.section-six{
  margin-top: 100px;
  width: auto;
  height: 300px;
  align-items: center;
  margin-left: 130px;
  margin-right: 130px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: white;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
}
.right-six img{
  width: 300px; /* Ensure the image fills its container */
  height: 200px; /* Maintain the aspect ratio of the image */
  margin-right: 130px;
  border-radius: 10px;
}
.left-six{
  margin-left: 130px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .section-six {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items horizontally */
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
  }

  .right-six img {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 20px; /* Add bottom margin for spacing */
  }

  .left-six {
    margin-left: 0; /* Reset left margin */
    text-align: left;
  }
}


/* fOOTER */
.footer{
  margin-top: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center; /* Align items horizontally at the center */
  gap: 20px; /* Add space between columns */
}

.footer-list {
  display: flex;
  flex-direction: column; /* Arrange elements in a column */
  align-items: center; /* Align items vertically at the center */
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: left;
}
.footer-list p{
  margin-bottom: 1px;
}






